<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Recipe Box</title>
  </head>
  <body>
    <div class="container">
      <a href="javascript:history.back()">Go back</a>
      <%= yield %>
    </div>
  </body>
</html>
