

<form action="/recipes/new" method="post">
  <input id="name" name="name" class="form-control" type="text" placeholder="Recipe name" required>
  <input id="ingredients" name="ingredients" class="form-control" type="text" placeholder="Ingredients" required>
  <input id="instructions" name="instructions" class="form-control" type="text" placeholder="instructions" required>

  <button type="submit" class="btn green">Add recipe</button>
</form>
